

.form{
    margin-top: 10%;
    border: 1px solid tomato;
    display: flex;
    flex-direction: column;
}

input{
    width: 60%;
}

.wrapper{
    border: 1px solid green;
    display: flex;
    margin: 0 auto;
    width: 560px;
    height: 90px;
}