@import "../default.css";
li{
    border-bottom: 1px solid black;
    margin-top: 20px;
    font-size: 25px;
}

h2{
    font-size: 40px;
    margin-top: 50px;
}

.container{
    margin: 0 auto;
    width: 80%;
}

.srochno{
    background-color: rgb(114, 56, 56);
}

a{
    font-size: 50px;
}